.clear-icon {
  color: #1B9BE4;
  cursor: pointer;
  float: left;
  font-size: 2em;
}

//===================================================================================//
.div-row-Media-Style {
  display: block;
  overflow-x: hidden;
}

.div-Options-Media-Style {
  padding-top: 0.5em !important;
  overflow-x: hidden;
}

.bi {
  font-size: 3em;
  cursor: pointer;
}

h1{
  width: 100%
}

#scroller{
  overflow: hidden;
}
